  ####   #  ###   ####    ####  ####     ###   #### 
 #    #    #   # #    #  #    # #   #   #   # #     
  ####   # #   #  ####   #####  ####    #   #  #### 
 #     # # #   # #     # #      #   #   #   #      #
  ###### # #   #  ######  ####  #   #    ###   #### 


#   # ##### #     #      ###     #       #  ###  ####  #     ####    #
#   # #     #     #     #   #    #   #   # #   # #   # #     #   #   #
##### ##### #     #     #   #     #  #  #  #   # ####  #     #    #  #
#   # #     #     #     #   #     # ### #  #   # #   # #     #   #    
#   # ##### ####  ####   ###        ###     ###  #   # ####  ####    #


# Hello this is an init.rd file.
# okay so there isn't much to see here.